html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background: url('https://unsplash.imgix.net/12/barley.jpg?q=75&fm=jpg&s=f39de5ca1970a13dbe6af6c86b3c47ec');
    background-size: cover;
}

.form-bottom-margin {
    margin-bottom: 20px;
}
/*angular-ui boostrap setup*/

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}
