html, body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.random-beer {
    background: url("http://m.ten-ninety.com/images/about_us_image.jpg") no-repeat;
}
.random-beer-form {
    margin-bottom: 10px;
}
