<!-- <div class='container transparent-background' ng-controller="LoginController">
    <form class="form-inline
">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email" ng-model='email'>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password" ng-model='password'>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" ng-click='userLogin(email, password)'>Sign in</button>
                <button type="submit" class="btn btn-default" ng-click='createUser(email, password)'>Create User</button>
            </div>
        </div>
    </form>
</div>
 -->
<div class="container" ng-controller="LoginController">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Login via email</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" role="form">
                        <fieldset>
                            <div class="form-group">
                                <input class="form-control" placeholder="yourmail@example.com" name="email" type="text" ng-model='email'>
                            </div>
                            <div class="form-group">
                                <input class="form-control" placeholder="Password" name="password" type="password" value="" ng-model='password'>
                            </div>
                            <input class="btn btn-lg btn-success btn-block" type="submit" value="Login" ng-click='userLogin(email, password)'>
                        </fieldset>
                    </form>
                    <hr/>
                    <center>
                        <h4>OR</h4></center>
                    <input class="btn btn-lg btn-warning btn-block" type="submit" value="Create User" ng-click='createUser(email, password)'>
                </div>
            </div>
        </div>
    </div>
</div>
