<!-- beerDiary.html -->
<div class='container' ng-controller="BeerDiaryController">
    <form class="form-inline form-bottom-margin" ng-submit="getBeer(beer)">
        <div class="form-group">
            <label for="exampleInputName2">Beer name</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Please enter beer name" ng-model='beer'>
        </div>
        <button type="submit" class="btn btn-warning">Find Beer</button>
    </form>
</div>
<div class='container'>
    <div class='row'>
        <div class='col-md-4' ng-repeat="beer in favorites">
            <a type="button" class="ghost-button-semi-transparent form-bottom-margin" ng-click='openFavoriteBeerModal(beer)'>
                {{beer.name}}
            </a>
        </div>
    </div>
</div>
