<!-- beerDiary.html -->
<div class='container' ng-controller="BeerDiaryController">
    <form class="form-inline" ng-submit="getBeer(beer)">
        <div class="form-group">
            <label for="exampleInputName2">Beer name</label>
            <input type="text" class="form-control" id="exampleInputName2" placeholder="Please enter beer name" ng-model='beer'>
        </div>
        <button type="submit" class="btn btn-warning">Find Beer</button>
    </form>
    <div class="panel panel-warning" ng-repeat='beers in favBeer'>
        <!-- Default panel contents -->
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
        </div>
        <!-- List group -->
        <ul class="list-group">
            <li class="list-group-item">
                <img class="img-responsive center-block" src="{{beers.labels.medium}}" alt="Beer Label">
            </li>
            <li class='list-group-item' ng-show='beers.description'>Description: {{beers.description}}</li>
            <li class='list-group-item' ng-show='beers.glass.name'>Glass: {{beers.glass.name}}</li>
            <li class="list-group-item" ng-show='beers.abv'>Alcohol By Volume (ABV): {{beers.abv}}%</li>
            <li class="list-group-item" ng-show='beers.ibu'>International Bittering Units (IBU): {{beers.ibu}}</li>
            <li class="list-group-item" ng-show='beers.style.name'>Style: {{beers.style.name}}</li>
            <li class='list-group-item' ng-show='beers.foodPairings'>Food Pairings: {{beers.foodPairings}}</li>
            <li class='list-group-item' ng-show='beers.isOrganic'> Organic: {{beers.isOrganic}}</li>
            <li class='list-group-item' ng-show='beers.srm.hex' style='background: #{{beers.srm.hex}}'>
                Standard Reference Method(SRM) - Color
            </li>
        </ul>
    </div>
</div>
